body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(../assets/images/iceland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #333;
}

.box {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding-right: 20px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.message textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-family: Verdana;
}

.send {
    text-align: center;
    padding-top: 10px;
}

.send input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send input[type="submit"]:hover {
    background-color: #555;
}