.hawaii {
    background-image: url(../assets/images/hawaii.jpg);
}

.iceland {
    background-image: url(../assets/images/iceland.jpg);
}

.greece {
    background-image: url(../assets/images/greece.jpg);  
}

.hawaii,
.iceland,
.greece {
    height: 47rem;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    height: 50%;
}

.container div {
    background-color: white;
    width: 15%;
    padding: 0% 5%;
    border-radius: 2%;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); */
}

.container ul {
    padding-left: 0%;
    display: inline-block;
}

.container ul li {
    background-color: #FEFAF5;
    width: 8rem;
    margin-top:10%;
    margin-bottom:20%;
    margin-right: -3rem;
    padding: 10% 30%;
    list-style: none;
    text-align: center;
}

h1 {
    color: white;
    font-size: 5rem;
    padding-top: 5%;
    padding-left: 5%;
    margin: 0%;
}

.container h3 {
    text-align: center;
    border-bottom: 2px solid black;
}
