.hawaii {
    background-image: url(../assets/images/hawaii.jpg);
    height: 47rem;
    background-size: cover;
    background-position: center;
}

.iceland {
    background-image: url(../assets/images/iceland.jpg);
    height: 47rem;
    background-size: cover;
    background-position: center;
}

.greece {
    background-image: url(../assets/images/greece.jpg);
    height: 47rem;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    padding: 5%;
    height: 50%;

}

.container div {
    background-color: white;
    width: 15%;
    padding: 0% 5%;
    border-radius: 2%;

}

.container ul {
    padding-left: 0%;
}

.container ul li {
    /* padding:10% 30%; */
    background-color: #FEFAF5;
    width: 10rem;
    margin: 5% 5%;
    padding: 10%;
    /* padding-right: 30%; */
    /* padding-left: 10%; */
    text-decoration: none;
    list-style: none;
    text-align: center;
}

h1 {
    color: white;
    font-size: 5rem;
    padding-top: 5%;
    padding-left: 5%;
    margin: 0%;
}

.container h3 {
    text-align: center;
}


/* main {
    margin: 0%;
    padding: 0%;
} */