body {
    width:1280px;
    font-family: Verdana;
}

header {
    background-color: #ffff;
    color: #335576;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.logo {
    font-weight: bold;
    padding-left: 5%;
}

.nav { 
    display: inline-block;  
    padding-right: 10%;
}

.nav ul {
    display: flex;
}

.nav ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 5%;
    
}
.nav ul li a {
    text-decoration: none;
    color: rgb(29, 28, 28); 
}

footer {
    background-color: #FEFAF5;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: #335576;
    padding-left: 10%;
    padding-right:10%;
}
.sub {
    color: #DB7A4E;
    font-size: x-small;
}

.weekend {
    margin-top:5%;
}
.icon {
    height:12%;
    margin-right:10%;
    padding-top:10%;
}