.hero {
    background-color: #FEFAF5;
    color: #335576;
    padding:4%;
}
button {
    background-color: #DB7A4E;
    color: white;
}

.destination h2{
    color: #335576;
}

.container{
    display: flex;
    justify-content:space-evenly;
}


.hawaii {
    height: 25rem;
    width:15rem;
    background-image:url(../assets/images/hawaii.jpg);
    background-size: cover;
    direction:rtl;  
}

.iceland {
    height: 25rem;
    width:15rem;
    background-image:url(../assets/images/iceland.jpg);
    background-size: cover;
    direction:rtl;  
}
.greece {
    height: 25rem;
    width:15rem;
    background-image:url(../assets/images/greece.jpg);
    background-size: cover;
    direction:rtl;  
}
/* .photo {
    width:10%;
} */
