.hero {
    background-color: #FEFAF5;
    color: #335576;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.image {
    height: 20rem;
    justify-content: flex-end;
}

button {
    background-color: #DB7A4E;
    color: white;
    padding: 0.5em 2em;
    border-radius: 2em;
    border: none;
    outline: none;
    margin-top: 2%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    box-shadow: 0px 4px 4px black;
}

.destination {
    padding: 5% 10%;
}

.destination h2 {
    color: #335576;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.hawaii {
    background-image: url(../assets/images/hawaii.jpg);
}

.iceland {
    background-image: url(../assets/images/iceland.jpg);
}

.greece {
    background-image: url(../assets/images/greece.jpg);
}

.hawaii,
.iceland,
.greece {
    height: 25rem;
    width: 17rem;
    background-size: cover;
    direction: rtl;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size:1.5rem;
    text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.hawaii:hover,
.iceland:hover,
.greece:hover {
    box-shadow: 0px 4px 4px black;
}

